@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,100;1,300;1,400;1,500;1,600&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --subTitle-color:black;
    --paragrapgy-color:black;
    --headingTwo:white;
}

main{
    margin-top: 3em;
}
.heading{
    background-color: rgb(148, 195, 233);
    color: aliceblue;
}

nav{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

}

.menu-parent{
    margin: .5em 1rem;
}

a{
    color: rgb(132, 149, 216)
    ;
    list-style: none;
}

h1,h3,p{
    margin: .5em 2rem;
}

p{
    font-family: 'Josefin Sans', sans-serif;

}
h2{
     margin: 0 2rem;
     padding-top: .6em;
    text-transform: uppercase;
     font-family: 'Josefin Sans', sans-serif;
}

section{
    margin-top: 2rem;
}

footer{
    margin-top:.5em;
    text-align: center;
    padding: .5em;
    background: paleturquoise;
}

@media only screen and (min-width: 1020px){

 
    main{
       padding: 2rem; 
    }

    nav{
        margin: 0 53em;
    }

    h1,h3,p{
        margin: .5em 9rem;
    }
    section{
        margin-top: 2em; 
    }
}